{% extends "layout.html" %}
{% block title %} 数据列表 {% endblock %}

{% block css %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="modal hidden"></div>
    <div class="modal loading hidden">
        <img src="/static/loading.gif" alt="" style="width: 100%;height: 100%">
    </div>
    <form class="layui-form" action="{% url 'gupiaoList' %}" style="text-align: center;width: 1200px;margin: 20px auto" method="get">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px">输入股票代码</label>
            <div class="layui-input-inline">
                <select name="code" id="">
                    {% for foo in code_list %}
                        <option  {% ifequal code foo %} selected="selected" {% endifequal %} value="{{ foo }}">{{ foo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="layui-input-inline">
                <button id="find" class="layui-btn" lay-submit lay-filter="formDemo">立即查找</button>
            </div>
        </div>
    </form>
    <table class="layui-table" style="width: 90%;margin: 10px auto">

        <thead>
        <tr>
            <th>日期</th>
            <th>股票名字</th>
            <th>代码</th>
            <th>开盘价</th>
            <th>最高价</th>
            <th>收盘价</th>
            <th>最低价</th>
            <th>成交量</th>
            <th>价格变动</th>
            <th>涨跌幅</th>
            <th>均价</th>
            <th>换手率</th>
        </tr>
        </thead>
        <tbody>

        {% for upload in data_list %}
            <tr>
                <td>{{ upload.date }}</td>
                <td>{{ upload.name }}</td>
                <td>{{ upload.code }}</td>
                <td>{{ upload.open }}</td>
                <td>{{ upload.high }}</td>
                <td>{{ upload.close }}</td>
                <td>{{ upload.low }}</td>
                <td>{{ upload.volume }}</td>
                <td>{{ upload.price_change }}</td>
                <td>{{ upload.p_change }}</td>
                <td>{{ upload.ma }}</td>

                <td>{{ upload.turnover }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="demo2" style="margin: 10px auto"></div>
{% endblock %}

{% block js %}
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
            });
            //监听提交
            form.on("select(sheng)", function (data) {
                {#alert(data.value); // 获取选中的值#}
                var sheng = data.value
                $.ajax({
                    url: '/getcol/',
                    dataType: 'json',
                    method: 'post',
                    data: {
                        'sheng': sheng
                    },
                    success: function (data) {
                        {#console.log(data.data)#}
                        $('select[name="city"]').find('option').remove()
                        $('select[name="xian"]').find('option').remove()
                        form.render('select');//重点：重新渲染select

                        var html = '<option value="">请选择市</option>'
                        for (var i = 0; i < data.data.length; i++) {
                            html += '<option value="' + data.data[i] + '">' + data.data[i] + '</option>'
                        }
                        $('select[name="city"]').html(html)
                        $('select[name="xian"]').html('<option value="">请选择县</option>')
                        form.render('select');//重点：重新渲染select
                    }
                });
            });
        });

        $('.layui-btn-danger').click(function () {
            var id = $(this).attr('id_')
            $('.modal').removeClass('hidden')
            $('.loading').removeClass('hidden')
            $.ajax({
                url: '/scrawl/',
                dataType: 'json',
                method: 'post',
                data: {
                    'id': id
                },
                success: function (data) {
                    if (data.status == 'ok') {
                        $('.modal').addClass('hidden')
                        $('.loading').addClass('hidden')
                        alert('爬取或者更新数据完成')
                        location.reload()
                    }
                }
            });
        })

    </script>
    <script>
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //自定义样式
            laypage.render({
                elem: 'demo2'
                , limit: 100
                , count: 1000
                , theme: '#1E9FFF'
                , curr: {{ page|safe }}
                , jump: function (obj, first) {
                    //obj包含了当前分页的所有参数，比如：
                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    console.log(obj.limit); //得到每页显示的条数

                    //首次不执行
                    if (!first) {
                        //do something
                        location.href = "/gupiaoList/?page=" + obj.curr;
                    }

                }
            });

        });
    </script>
{% endblock %}