<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>员工信息添加</title>
<link rel="stylesheet" href="./css/common.css" />
<link rel="stylesheet" href="./js/jquery.datetimepicker.css" />
<script src="./js/jquery.js"></script>
<script src="./js/jquery.datetimepicker.js"></script>
<script>
	//jQuery日历插件
	$(function(){
		var options = {lang:'ch',format:'Y-m-d',timepicker:false};
		$('#birth').datetimepicker(options);
		$('#entry').datetimepicker(options);
	});
</script>
</head>
<body class="profile">
<div class="main">
	<h1>添加员工</h1>
	<form method="post">
	<table>
		<tr><th>姓名：</th><td><input type="text" name="emp_name" /></td></tr>
		<tr><th>所属部门：</th><td><select name="emp_dept_id">
			<option value="0">未选择</option>
			<?php foreach($dept_info as $v): ?>
				<option value="<?php echo $v['dept_id']; ?>" ><?php echo $v['dept_name'] ?></option>
			<?php endforeach; ?>
		</select></td></tr>
		<tr><th>出生年月：</th><td><input id="birth" name="emp_birth" type="text"></td></tr>
		<tr><th>入职日期：</th><td><input id="entry" name="emp_entry" type="text"></td></tr>
		<tr><td colspan="2" class="td-btn">
		<input type="submit" value="保存资料" class="button" />
		<input type="button" value="返回列表" class="button" onclick="location.href='index.php'" />
		</td></tr>
	</table>
	</form>
</div>
</body>
</html>