<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>用户注册 - <?=htmlspecialchars(config('APP_TITLE'))?></title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <?php require './view/common/top.html'; ?>
    <div class="main container">
      <div class="box">
        <div class="box-title"><span>趣PHP 账号注册</span><a href="login.php">已有帐号？现在登录</a></div>
        <div class="box-wp">
          <form id="js-regform" method="post" action="?token=<?=TOKEN?>">
            <table class="box-account">
              <tr><th>用户名</th><td><input type="text" name="name" value="<?=htmlspecialchars($name)?>" placeholder="2~10位中文、字母、数字、下划线" required></td></tr>
              <tr><th>密码</th><td><input id="js-pw1" type="password" name="password" placeholder="6~12位字母、数字、下划线" required></td></tr>
              <tr><th>确认密码</th><td><input id="js-pw2" type="password" placeholder="再次输入密码进行确认" required></td></tr>
              <tr><th>邮箱</th><td><input type="text" name="email" value="<?=htmlspecialchars($email)?>" placeholder="输入有效的邮箱地址" required></td></tr>
              <tr><th>验证码</th><td><input type="text" name="captcha" placeholder="输入下图中的文字" required></td></tr>
              <tr><th></th><td><img class="captcha js-captcha" src="captcha.php" title="点击刷新验证码"></td></tr>
              <tr><td class="box-account-act" colspan="2"><input class="ui-btn" type="submit" value="注册"></td></tr>
            </table>
          </form>
        </div>
      </div>
    </div>
    <?php require './view/common/footer.html'; ?>
  </body>
</html>